/* Estilos para la página de agregar usuario */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.contenedor-agregar-usuario {
  width: 480px;
  /* Ajusta según necesites */
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.secciones-formulario {
  display: flex;
  justify-content: space-between;
}

.seccion {
  margin-bottom: 10px;
}

.seccion label {
  display: block;
  margin-bottom: 5px;
}

.seccion input[type="text"],
.seccion input[type="email"],
.seccion select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.seccion.imagen {
  text-align: center;
}

.seccion.imagen img {
  max-width: 100px;
  margin-bottom: 10px;
}

.acciones-formulario {
  text-align: center;
}

.acciones-formulario button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #011C40;
  color: white;
  cursor: pointer;
}

.acciones-formulario button:hover {
  background-color: #0056b3;
}